# Data structures

So far we have restricted our examples to simple built-in data types, e.g. `string`, `int`, and `float`. In practice, programs will use *data structures* to collect data together into useful packages.

For example, we need to represent a point in 3D, as shown below:

In [28]:
# Regular variable
x = 3
y = 2
z = 5
print(f"Point: [{x}, {y}, {z}]")
# Using a list
r = [3, 2, 5, 6]  # Experiment: How do you extend this list into 4D? Can you do it?
print(f"Point: {r}")

Point: [3, 2, 5]
Point: [3, 2, 5, 6]

As another example, let's consider that we want to store the names of students in a laboratory group. Rather than a string variable for each student, we could work with a list of names, as shown below:

In [2]:
lab_group0 = ["Sarah", "John", "Joe", "Emily"]
lab_group1 = ["Roger", "Rachel", "Amer", "Caroline", "Colin"]

This is a much more powerful construction because we can perform operations on a list, such as checking its length (number of students in a lab group), sort the names in the list into alphabetical order, and add or remove names. We could even make a list-of-lists, e.g.

In [3]:
lab_groups = [lab_group0, lab_group1]

to collect all the lab groups together into a *nested* list.

Data structures are particularly useful when passing data to functions. Say we want a function that prints the names of students in a given lab group. Rather than passing the name of each student (with different groups having differing numbers of members), we can pass just the list of lab group members to the function.
Similarly, we could develop a function that computes the dot product between two vectors of arbitrary length, passing to the function just the two vectors rather than each component.

We will look at three built-in Python data structures that are commonly used. They are:

- `list` 
- `tuple`
- `dict` (dictionary)

# Lists

A `list` is a sequence of data. An 'array' in most other languages is a similar concept, but Python lists are more general than most arrays as they can hold a mixture of types. A list is constructed using square brackets:

In [4]:
# Experiment: Do you wanna see a magic? Replace "Quang" with 3.14
lab_group0 = ["Sarah", "John", "Joe", "Emily", "Quang"]
print("Lab group members: {}".format(lab_group0))
print("Size of lab group: {}".format(len(lab_group0)))

print("Check the Python object type: {}".format(type(lab_group0)))

Lab group members: ['Sarah', 'John', 'Joe', 'Emily', 'Quang']
Size of lab group: 5
Check the Python object type: <class 'list'>

The function '`len`' returns the length (number of items) of the list.

An empty list is created by

In [5]:
my_list = []

## Iterating over lists

Looping over each item in a list (or more generally a sequence) is called *iterating*. We iterate over the members of the lab group using the syntax:

In [6]:
for member in lab_group0:
    print(member)

Sarah
John
Joe
Emily
Quang

Say we want to iterate over the names of the lab group members, and get the position
of each member in the list. We use `enumerate` for this:

In [7]:
for n, member in enumerate(lab_group0):
    print(n, member)

0 Sarah
1 John
2 Joe
3 Emily
4 Quang

In the above, `n` is the position in the list and `member` is the $n$th entry in the list. Sometimes we need to know the position, in which case `enumerate` is helpful. However, when possible it is preferable to use a 'plain' iteration. Note that Python counts from zero - it uses zero-based indexing.

## Manipulating lists 

There are many functions for manipulating lists. It might be useful to sort the list:

In [8]:
group0_sorted = sorted(lab_group0)
for member in group0_sorted:
    print(member)

Emily
Joe
John
Quang
Sarah

With lists we can add and remove students:

In [9]:
# Remove the second student (indexing starts from 0, so 1 is the second element)
lab_group0.pop(1)
print(lab_group0)

# Add new student "Josephine" at the end of the list
lab_group0.append("Josephine")
print(lab_group0)

['Sarah', 'Joe', 'Emily', 'Quang']
['Sarah', 'Joe', 'Emily', 'Quang', 'Josephine']

or maybe join two groups to create one larger group:

In [10]:
lab_group1 = ["Roger", "Rachel", "Amer", "Caroline", "Colin"]

lab_group = lab_group0 + lab_group1
print(lab_group)

['Sarah', 'Joe', 'Emily', 'Quang', 'Josephine', 'Roger', 'Rachel', 'Amer', 'Caroline', 'Colin']

or create a list of group lists:

In [11]:
lab_groups = [lab_group0, lab_group1]
print(lab_groups)

print("---")

print("Print each lab group (name and members):")
for i, lab_group in enumerate(lab_groups):
    print(i, lab_group)

[['Sarah', 'Joe', 'Emily', 'Quang', 'Josephine'], ['Roger', 'Rachel', 'Amer', 'Caroline', 'Colin']]
---
Print each lab group (name and members):
0 ['Sarah', 'Joe', 'Emily', 'Quang', 'Josephine']
1 ['Roger', 'Rachel', 'Amer', 'Caroline', 'Colin']

## Indexing

Lists store data in order, so it is possible to 'index into' a list using an integer (this will be familiar to anyone who has used C), e.g.:

In [12]:
first_member = lab_group0[0]
third_member = lab_group0[2]
print(first_member, third_member)

Sarah Emily

or

In [13]:
for i in range(len(lab_group0)):
    print(lab_group0[i])

Sarah
Joe
Emily
Quang
Josephine

or

If you want to take a subset of the list (also known as slicing like slicing a cake)

In [14]:
lab_group0[1:3] # Experiment: Try to replace 1:3 with : only! See what happens

['Joe', 'Emily']

Indices start from zero, and run through to (length - 1).

Indexing can be useful for numerical computations. We use it here to compute the dot product of two vectors:

In [15]:
# Two vectors of length 4
x = [1.0, 3.5, 7.2, 8.9]
y = [-1.0, 27.1, 1.0, 6]

# Compute dot-product
dot_product = 0.0
for i in range(len(x)):
    dot_product += x[i]*y[i]

print(dot_product)

154.45000000000002

When possible, it is better to iterate over a list rather than use indexing, since there are data structures that support iterating but do not support indexing.

If we have a list-of-lists,

In [16]:
lab_group0 = ["Sarah", "John", "Joe", "Emily"]
lab_group1 = ["Roger", "Rachel", "Amer", "Caroline", "Colin"]
lab_groups = [lab_group0, lab_group1]

we can use the first index to access a list, and a second index to access the entry in that list:

In [17]:
group = lab_groups[0]
print(group)

name = lab_groups[1][2]
print(name)

['Sarah', 'John', 'Joe', 'Emily']
Amer

## Heterogeneity (lists with mixed types)

Python lists are heterogeneous data structures - this means they can store mixed types, e.g.

In [18]:
mixed_list = ["Adam", 2 + 4j, 1.0, 4]
for entry in mixed_list:
    print(entry, type(entry))

Adam <class 'str'>
(2+4j) <class 'complex'>
1.0 <class 'float'>
4 <class 'int'>

Arrays in most languages are homogeneous - all types in the array must be the same.

There are *many* ways in which lists can be manipulated. The best way to learn how to perform a specific operation is to use a search engine.

## List comprehension (advanced, optional)

A powerful construct in modern languages, including Python, is *list comprehension*. It is a way to succinctly build lists from other lists. It can be very useful, but should be applied sensibly as it can sometimes be difficult to read. There is an optional extension exercise at the end of this notebook that uses list comprehension.

Say we have a list of numbers, and we wish to create a new list that squares each number in the original list and adds 5. Using list comprehension:

In [19]:
x = [4, 6, 10, 11]
y = [a*a + 5 for a in x]

print(x)
print(y)

[4, 6, 10, 11]
[21, 41, 105, 126]

To understand the meaning, read the statement left-to-right.

As another example, say we have a list of names and we want to 

- build a new list of names that contains only the names with more than 5 characters; and 
- for these names we want to add a full stop at the end.

Using list comprehension:

In [20]:
lab_group1 = ["Roger", "Rachel", "Amer", "Caroline", "Colin"]
group = [name + "." for name in lab_group1 if len(name) > 5]

print(lab_group1)
print(group)

['Roger', 'Rachel', 'Amer', 'Caroline', 'Colin']
['Rachel.', 'Caroline.']

Mastering list comprehension is not simple, but it is very powerful.

## Tuples

Tuples are closely related to lists. The main difference is that a tuple cannot be changed after it has been created. 
In computing jargon, it is *immutable*.

For something that should not change after it has been created, such as a vector of length three with fixed entries, a tuple is more appropriate than a list. It is 'safer' in this case since it cannot be modified accidentally in a program. Being immutable ('read-only') also permits implementations to be optimised for speed.

To create a tuple, use round brackets. Say at a college each student is assigned a room, and the rooms are numbered. A student 'Laura' is given room 32:

In [21]:
room = ("Laura", 32)
print("Room allocation: {}".format(room))
print("Length of entry: {}".format(len(room)))
print(type(room))

Room allocation: ('Laura', 32)
Length of entry: 2
<class 'tuple'>

We can iterate over tuples in the same way as with lists,

In [22]:
# Iterate over tuple values
for d in room:
    print(d)

Laura
32

and we can index into a tuple:

In [23]:
# Index into tuple values
print(room[1])
print(room[0])

32
Laura

We might have a student who is given permission to live outside of college. To keep track of them we still want an entry for the student, but there is no associated room number. We can create a tuple of length one using '`("a",)`', e.g.:

In [24]:
room = ("Adrian",)
print("Room allocation: {}".format(room))
print("Length of entry: {}".format(len(room)))
print(type(room))

Room allocation: ('Adrian',)
Length of entry: 1
<class 'tuple'>

As part of a rooms database, we can create a list of tuples:

In [25]:
room_allocation = [("Adrian",), ("Laura", 32), ("John", 31), ("Penelope", 28), ("Fraser", 28), ("Gaurav", 19)]
print(room_allocation)

[('Adrian',), ('Laura', 32), ('John', 31), ('Penelope', 28), ('Fraser', 28), ('Gaurav', 19)]

To make it easier for students to find their rooms on a printed room list, we can sort the list:

In [26]:
room_allocation.sort()
print(room_allocation)

[('Adrian',), ('Fraser', 28), ('Gaurav', 19), ('John', 31), ('Laura', 32), ('Penelope', 28)]

We could improve the printed list by not printing those living outside of the college:

In [27]:
for entry in room_allocation:
    if len(entry) > 1:
        print("Name: {} \n  Room: {}".format(entry[0], entry[1]))

Name: Fraser
  Room: 28
Name: Gaurav
  Room: 19
Name: John
  Room: 31
Name: Laura
  Room: 32
Name: Penelope
  Room: 28

In summary, prefer tuples over lists when the length will not change.